<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Hosting zdjęć - {% endblock %}</title>
        {% block stylesheets %}
          <link rel="stylesheet" href="{{ asset( 'assets/css/bootstrap.min.css' ) }}" >
        {% endblock %}
    </head>
    <body>
    <!--NAV-->
    <nav class="navbar navbar-dark bg-primary navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="{{ path('index') }}">Uploader</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-lg-0">
                    <li class="nav-item {% if app.request.get('_route') == 'index' %}active{% endif %}">
                        <a class="nav-link" aria-current="page" href="{{ path('index') }}">Strona Główna</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Najnowsze</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Moje zdjęcia</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Wyloguj się</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Zaloguj się</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Zarejestruj się</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
    <!--CONTENT-->
        {% block content %}{% endblock %}
    <!--FOOTER-->
    <footer>
        <div class="pt-3 pb-3 bg-secondary" >
            <span class=" d-block text-center text-white">strefatwórców.pl a.m.bielech 2021 - Image Host</span>
        </div>
    </footer>
        {% block javascripts %}
           <script src="{{ asset('assets/js/jquery-3.4.1.slim.min.js') }}"></script>
            <script src="{{ asset('assets/js/popper.min.js') }}"></script>
            <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
